* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 10px;
}

.canvas {
    background-color: black;
    display: flex;
    flex: 1;
    justify-content: center;
    position: relative;
}

img {
    max-height:100%;
    max-width:100%;
    object-fit:none;
}

.img-parent {
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: left;
}

.canvas-overlay--wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 98;
    top: 0;
    left: 0;
}

.canvas-overlay {
    display: flex;
    flex: 0.33;
    height: 100%;
    max-width: 25%;
    background-size: contain;
}

.canvas-overlay--right {
    align-items: flex-end;
}

.canvas-overlay--center {
    align-items: center;
}

.canvas-overlay--left {
    align-items: flex-start;
}

.canvas-bottom-text--wrapper {
    position: relative;
    flex: 0.25;
    left: 0;
    bottom: 0; 
}

.canvas-bottom-text {
    background-color: bisque;
    font-size: 3rem;
    padding: 2rem;
    height: 100%;
    width: 100%;
}


.canvas-bottom-text-cursor {
    height: 3rem;
    width: 2rem;
    background-color: black;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    z-index: 99;
}

.canvas-bottom-choices {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: flex-start;
    justify-content: flex-start;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 100;
}

.canvas-bottom-choices--option {
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 2rem;
    padding: 2rem;
    height: 100%;
    width: 100%;
    width: 100%;
    cursor: pointer;
}

.canvas-bottom-choices--option:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.hidden {
    display: none;
}
