* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-size: 10px;
    font-family: Helvetica, sans-serif, Arial, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.canvas {
    background-color: black;
    display: flex;
    flex: 1;
    justify-content: center;
    position: relative;
    background-size: cover;
}

img {
    max-height:100%;
    max-width:100%;
    object-fit:none;
}

.img-parent {
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: left;
}

.canvas-overlay--wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 98;
    top: 0;
    left: 0;
}

.canvas-overlay {
    align-self: flex-end;
    height: 50%;
    width: 30%;
    min-height: 400px;
    min-width: 400px;
    background-size: contain;
}

.canvas-overlay--right {
    align-items: flex-end;
}

.canvas-overlay--center {
    align-items: center;
}

.canvas-overlay--left {
    align-items: flex-start;
}

.canvas-bottom-text--wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    border: 0.3rem solid black;
    position: relative;
    flex: 0.25;
    left: 0;
    bottom: 0; 
}

.canvas-bottom-text {
    /* background-color: bisque; */
    background-color: #e899dc;
    background-image: linear-gradient(315deg, #e899dc 0%, #d387ab 74%);
    font-size: 3.5rem;
    padding: 2rem;
    height: 100%;
    width: 100%;
}


.canvas-bottom-text-cursor {
    height: 4rem;
    width: 4rem;
    border-style: solid;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-width: 1rem;
    transform: rotateY(0deg) rotate(45deg) scaleX(1.0) scaleY(0.8);
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    z-index: 99;
}

.canvas-bottom-choices {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: flex-start;
    justify-content: flex-start;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 100;
}

.canvas-bottom-choices--option {
    background-color: rgba(33, 33, 33, 0.4);
    font-size: 2rem;
    padding: 2rem;
    height: 100%;
    width: 100%;
    width: 100%;
    cursor: pointer;
}

.canvas-bottom-choices--option:before {
  content: '\2665';
  color: #e899dc;
  margin-right: 1.4rem;
}

/* .canvas-bottom-choices--option::before {
    content: '&#9829';
    position: absolute;
    height: 2rem;
    width: 2rem;
    background-color: red;
    border: 1px solid black;
} */

.canvas-bottom-choices--option:hover {
    background-color: rgba(33, 33, 33, 0.8);
}

.hidden {
    display: none;
}
